*, *:before, *:after{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}





.container{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
}


	.volta-td-btn:active, .volta-btn:active, .random-btn:active, .avanca-btn:active, .avanca-td-btn:active{
		animation-duration:2s;
		transform:scale(0.8,0.8);
		
		/*height:40px;
		margin-right:35px;
		padding-left:5px;
		animation-duration:0.5s;*/
	}



@media (min-width: 961px){

	body{
	background-color: #207982;
	display: inline-block;
	height: 10px;
	width: 100%;
	background: repeating-linear-gradient(to right, #386180, #386180 6px, #207982 6px, #207982 18px);
}

	.header-wrapper{
		margin: auto;
		width: 960px;
	}

	.header-bar{
		position: relative;
		top: 0px;
		height: 60px;
		width: 100%;
		background-color: #004D57;

	}
	.main-nav{
		position: relative;
		width: 100%;
		height: 30px;
		margin: auto;
		top: 15px;

	}
	.main-nav ul{
		margin-left: 7%;
	}

	.main-nav li{
		float:left;
		width:100px;
		height:30px;
		background-color: #004D57;
		margin-left:20px;
		
		text-align: center;
		border-radius: 10px;
		font-family: 'Architects Daughter', cursive;
		font-size: 100%;
		vertical-align: middle;
		padding-top: 6px;
		color: #DDDDDD;
	}
	.header-title{
		position: relative;
		width: 480px;
		height: 120px;
		background-color: #004D57; 
		border-bottom-right-radius: 25px; 
		border-bottom-left-radius: 25px; 
		left:25px;

	}
	.header-title:after{
		position: relative;
		content: "";
		height: 50px;
		width: 50px;
		background-color: green;
		display: inline-block;
		left: 476px;
		border-radius: 25px 0 0 0;
		box-shadow: -6px -6px 0 6px rgb(0,77,87);
		background: transparent;
	}
	.header-title:before{
		content: "";
		height: 50px;
		width: 50px;
		background-color: green;
		display: inline-block;
		margin-left: -50px;
		border-radius: 0 25px 0 0;
		box-shadow: 5px -5px 0 5px rgb(0,77,87);
		clip: rect(20px, 20px, 20px, 20px);
		background: transparent;
	}
	.footer{
		position:fixed;
		display: inline-block;
		bottom: -3px;
		height: 40px;
		width: 100%;
		background-color: #004D57;
	}
	.content{
		position: relative;
		display: block;
		min-height: 455px;
		width: 960px;
		background-color: white;
		margin:auto;
		margin-top: 30px;
		border-top: solid 1px #004D57;
		border-left: solid 1px #004D57;
		border-right: solid 1px #004D57;
		border-top-right-radius: 25px;
		border-top-left-radius: 25px;
		padding: 50px 0px 40px 0px;
	}
	.content-objeto{
		position: relative;
		margin: auto;
		width: 800px;
		top: 05%;
	}
	.content-bottom{
		position: relative;
		margin:auto;
		margin-bottom: 30px;
		background-color: #DAE9EB;
		height: 140px;
		width:960px;
		border-radius: 0px 0px 25px 25px;
		bottom:0px;
		border-top: solid 1px #A6B8CF;
		border-bottom: solid 1px #004D57;
		border-left: solid 1px #004D57;
		border-right: solid 1px #004D57;
	}
	.content-bottom p{
		position: relative;
		width: 850px;
		margin: auto;
		font-family: 'Quattrocento Sans', sans-serif;
		font-size: 100%;
		line-height: 110%;
		clear: both;
	}
	.content-info-wrapper{
		margin: auto;
		width: 850px;
		height: 20px;

	}
	.content-title , .content-date{
		display: inline-block;
		margin: 20px 0px 20px 0px;
		font-family: 'Architects Daughter', cursive;
		font-size: 100%;
	}

	.content-nav{
		width: 390px;
		display: block;
		position: relative;
		clear:right;
		margin: auto;
		top: 68px;
		z-index: 1;
	}
	
	.content-nav img{
		height: 50px;
		margin: auto;
		margin-right:30px;
	}

	.content-nav img:nth-child(5){
		margin: auto;
	}

	.content-date{
		float:right;
	}
	.content-title{
		float:left;
	}

	.main-nav li{
		transition: all .2s ease-in-out;
	}

	.main-nav li:hover{
		transform: scale(1.2);
	}


}

@media (max-width: 960px), (max-width: 320px){

	.header-bar{
		position: relative;
		top: 0px;
		height: 80px;
		width: 100%;
		background-color: #004D57;
	}

	.main-nav ul{
		width: 100%;
		margin: auto;
	}

	.main-nav li{
		float:left;
		width: 33.33333333%;
		height:30px;
		background-color: #004D57;
		text-align: center;
		font-family: 'Architects Daughter', cursive;
		font-size: 100%;
		vertical-align: middle;
		padding-top: 6px;
		color: #DDDDDD;
	}

	.content{
		margin: auto;
		position: relative;
		width: 100%;
		margin: auto;
		margin-top: 50px;
		margin-bottom:50px;
		overflow-x: auto;
	}

	.content-bottom p{
		position: relative;
		margin: auto;
		margin-top:5px;
		width:95%;
		font-family: 'Quattrocento Sans', sans-serif;
		font-size: 95%;
		text-align: center;
		line-height: 110%;
		clear: both;
	}

	.content-objeto img{
		display: block;
		position: relative;
		max-width: 150%;
		margin: auto;
		
	}

	.content-title , .content-date{
		display: inline-block;
		margin: 0px 0px 10px 0px;
		font-family: 'Architects Daughter', cursive;
		font-size: 100%;
	}

	.content-date{
		float:right;
		margin-right: 5%;
	}
	.content-title{
		float:left;
		margin-left: 5%;
	}

	.content-nav{
		width: 100%;
		display: inline-block;
		position: fixed;
		text-align: center;
		clear: right;
		bottom: 40px;
		
	}

	.content-nav img{
		height: 40px;
		margin: auto;
		margin-right:8px;
	}

	.content-nav img:nth-child(5){
		margin: auto;
		margin-right: 0px;
	}

	.footer{
		position:fixed;
		display: inline-block;
		bottom: -3px;
		height: 40px;
		width: 100%;
		background-color: #004D57;
	}

	
}

@media (max-width: 320px){
	
	.main-nav li{
		font-family: 'Architects Daughter', cursive;
		font-size: 80%;
	}

	.content-nav{
		width: 100%;
		display: inline-block;
		position: fixed;
		text-align: center;
		clear: right;
		bottom: 40px;
		
	}

	.content-nav img{
		height: 35px;
		margin: auto;
		margin-right:8px;
	}

	.content-nav img:nth-child(5){
		margin: auto;
		margin-right: 0px;
	}

}
